@use 'sass:map';
@use "sass:color";


.qubely-accordion-panel-handler-label {
	font-weight: 700;
}
.qubely-block-accordion .qubely-accordion-item {
	margin-bottom: 0.5rem;
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rental {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	column-gap: 1rem;
	row-gap: 3rem;

	&> .rental-card {
		background-color: #f1f1f1;
		display: flex;
		flex-direction: column;
		border: 1px solid azure;
		align-items: center;
		position: relative;
		transition: all ease-in-out 0.3s;
		border-radius: 1rem;


		&:hover {
			background-color: #e1e1e1;
			box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .2);
		}
		&.hide {
			display: none;
		}

		.vacancy {
			width: 100%;
			font-size: 0.9rem;
			text-align: center;
			border: 1px white;
			color: white;
			background-color: #674a2a;
			padding: 0.5rem 0;
			text-transform: uppercase;
			border-bottom: 1px solid white;

			&.occupied {
				padding: 0 1rem;
				background: linear-gradient(to bottom, white 1px, rgba(0, 0, 0, 0.6) 3px, #5d5d5d);
			}

			&.available {
				padding: 0 1rem;
				background: linear-gradient(to bottom, white 1px, rgba(0, 0, 0, 0.6) 3px, #5d5d5d);
			}

			&.open {
				padding: 0 1rem;
				background: linear-gradient(to bottom, #ccffcc 1px, rgba(0, 0, 0, 0.6) 3px, #0e7b17);
				&> span {
					border-radius: 5px;
					font-weight: bold;
					padding: 0 .8rem;
					background-color: rgba(255, 255, 255, 0.9);
					color: black;
				}
			}
		}
		$private: #5f98b6;
		$studio: #b49056;
		$standing: #7a5fab;
		$desk: #667c59;
		$partition: #9f5879;
		$drawer: #818181;
		$flex: #913131;

		$private-dark: scale-color($private, $lightness: -40%);
		$studio-dark: scale-color($studio, $lightness: -40%);
		$standing-dark: scale-color($standing, $lightness: -40%);
		$desk-dark: scale-color($desk, $lightness: -40%);
		$partition-dark: scale-color($partition, $lightness: -40%);
		$drawer-dark: scale-color($drawer, $lightness: -40%);
		$flex-dark: scale-color($flex, $lightness: -40%);


		&> .header {
			width: 100%;
			border-radius: 1rem 1rem 0 0;
			display: flex;
			flex-direction: column;

			& > .unit-desc {
				color: white;
				text-align: center;
				line-height: 1.2;
				font-size: 1.6rem;
				padding: 1rem .5rem;
				margin-bottom: 0;
			}
			&.private {
				background: linear-gradient(60deg, $private, $private-dark);
			}
			&.studio {
				background: linear-gradient(60deg, $studio, $studio-dark);
			}
			&.standing {
				background: linear-gradient(60deg, $standing, $standing-dark);
			}
			&.desk {
				background: linear-gradient(60deg, $desk, $desk-dark);
			}
			&.partition {
				background: linear-gradient(60deg, $partition, $partition-dark);
			}
			&.drawer {
				background: linear-gradient(60deg, $drawer, $drawer-dark);
			}
			&.flex {
				background: linear-gradient(60deg, $flex, $flex-dark);
			}
		}

		&> .body {
			display: flex;
			flex-direction: column;
			justify-items: center;
			align-items: center;
			padding: 0.9rem;
			.unit-name {
				padding: 0 0 1rem 0;
				letter-spacing: 0.005rem;
				font-size: 1.3rem;
				text-transform: capitalize;
			}
		}

		&> .footer {
			padding: 0 0 1rem 0;
			.btn {
				background: #c20430;
				border-radius: 8px;
				box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .2);
				color: white;
				font-size: 1rem;
				padding: 0.5rem 1.2rem;
				transition: all .3s ease-in-out;
				&:hover {
					background: #970225;
					transition: background-color ease-in-out 0.3s;
				}
			}
		}

	}

}
.unit-cost {
	.dollar-sign {
		font-weight: 500;
		font-size: 2rem;
	}
	.value {
		font-size: 3rem;
		font-weight: 700;

	}
	.day-cost,
	.week-cost {
		font-size: 2rem;
		font-weight: 700;
	}
	.check-prices {
		font-weight: 500;
		text-align: center;
		line-height: 1.2;
	}
	.range {
		color: #7d7d7d;
	}

}
.unit-extras {
	font-size: small;
	line-height: 1.2;
	margin-top: .5rem;
 }